<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!-- Authors: Reza Basseda, ... -->
<plugin>

   <extension
         point="org.eclipse.ui.commands">
         <category
            name="Bugs Reporting"
            id="edu.bridgeport.cs441.collaborator.commands.category.bugsreport">
         <command
               name="Bug Report"
               categoryId="edu.bridgeport.cs441.collaborator.commands.category.bugsreport"
               id="edu.bridgeport.cs441.collaborator.commands.bugsreport.BugsReporter">
         </command>

      </category>
      
      <category
            name="Developer Management"
            id="edu.bridgeport.cs441.collaborator.commands.category.developerManagement">
         <command
               name="Add Developer"
               categoryId="edu.bridgeport.cs441.collaborator.commands.category.developerManagement"
               id="edu.bridgeport.cs441.collaborator.commands.developerManagement.addDeveloper">
         </command>
         <command
               name="Remove Developer"
               categoryId="edu.bridgeport.cs441.collaborator.commands.category.developerManagement"
               id="edu.bridgeport.cs441.collaborator.commands.developerManagement.removeDeveloper">
         </command>
      </category>
      <category
            id="edu.bridgeport.cs441.collaborator.commands.category.collaborate"
            name="Collaborate">
         <command
               name="Join Discussion"
               categoryId="edu.bridgeport.cs441.collaborator.commands.category.developerManagement"
               id="edu.bridgeport.cs441.collaborator.commands.collaborate.joinDiscussion">
         </command>
         <command
               name="Leave Discussion"
               categoryId="edu.bridgeport.cs441.collaborator.commands.category.developerManagement"
               id="edu.bridgeport.cs441.collaborator.commands.collaborate.leaveDiscussion">
         </command>
      </category>
      <category
            id="edu.bridgeport.cs441.collaborator.commands.category.projectanalysis"
            name="Project Analysis">
         <command
               categoryId="edu.bridgeport.cs441.collaborator.commands.category.projectanalysis"
               id="edu.bridgeport.cs441.collaborator.commands.category.projectanalysis.testAnalysis"
               name="Test Project Analysis">
         </command>
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="edu.bridgeport.cs441.collaborator.commands.bugsreport.BugsReporter"
            class="edu.bridgeport.cs441.collaborator.bugsreport.handlers.BugsReportHandler">
      </handler>
      <handler
            commandId="edu.bridgeport.cs441.collaborator.commands.developerManagement.addDeveloper"
            class="edu.bridgeport.cs441.collaborator.developermanagement.handlers.AddDeveloperHandler">
      </handler>
      <handler
            class="edu.bridgeport.cs441.collaborator.developermanagement.handlers.RemoveDeveloperHandler"
            commandId="edu.bridgeport.cs441.collaborator.commands.developerManagement.removeDeveloper">
      </handler>
      <handler
            class="edu.bridgeport.cs441.collaborator.collaborate.handlers.JoinDiscussionHandler"
            commandId="edu.bridgeport.cs441.collaborator.commands.collaborate.joinDiscussion">
      </handler>
      <handler
            class="edu.bridgeport.cs441.collaborator.collaborate.handlers.LeaveDiscussionHandler"
            commandId="edu.bridgeport.cs441.collaborator.commands.collaborate.leaveDiscussion">
      </handler>
      <handler
            class="edu.bridgeport.cs441.collaborator.projectanalysis.handlers.ProjectStructureTesterHandler"
            commandId="edu.bridgeport.cs441.collaborator.commands.category.projectanalysis.testAnalysis">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="edu.bridgeport.cs441.collaborator.commands.developerManagement.addDeveloper"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Collaboration"
               mnemonic="M"
               id="edu.bridgeport.cs441.collaborator.menus.collaboration">
            <menu
                  id="edu.bridgeport.cs441.collaborator.menus.developerManagement"
                  label="Developer Management"
                  mnemonic="M">
               <command
                     commandId="edu.bridgeport.cs441.collaborator.commands.developerManagement.addDeveloper"
                     id="edu.bridgeport.cs441.collaborator.menus.developerManagement.addDeveloper"
                     label="Add Developer"
                     tooltip="Add a developer from the team."
                     mnemonic="S">
               </command>
               <command
                     commandId="edu.bridgeport.cs441.collaborator.commands.developerManagement.removeDeveloper"
                     id="edu.bridgeport.cs441.collaborator.menus.developerManagement.removeDeveloper"
                     label="Remove Developer"
                     tooltip="Remove a developer from the team."
                     mnemonic="S">
               </command>
            </menu>
            <menu
                  id="edu.bridgeport.cs441.collaborator.menus.collaborate"
                  label="Collaborate"
                  mnemonic="M">
               <command
                     commandId="edu.bridgeport.cs441.collaborator.commands.collaborate.joinDiscussion"
                     id="edu.bridgeport.cs441.collaborator.menus.collaborate.joinDiscussion"
                     label="Join Discussion"
                     tooltip="Join the ongoing discussion in the team."
                     mnemonic="S">
               </command>
               <command
                     commandId="edu.bridgeport.cs441.collaborator.commands.collaborate.leaveDiscussion"
                     id="edu.bridgeport.cs441.collaborator.menus.collaborate.leaveDiscussion"
                     label="Leave Discussion"
                     tooltip="Leave the ongoing discussion in the team."
                     mnemonic="S">
               </command>               
            </menu>
            <menu
                  id="edu.bridgeport.cs441.collaborator.menus.projectanalysis"
                  label="Project Analysis"
                  mnemonic="M">
               <command
                     commandId="edu.bridgeport.cs441.collaborator.commands.category.projectanalysis.testAnalysis"
                     id="edu.bridgeport.cs441.collaborator.menus.projectanalysis.testAnalysis"
                     label="Test Project Analysis"
                     mnemonic="S"
                     tooltip="Test the project analysis.">
               </command>
            </menu>
            
                <menu
                  id="edu.bridgeport.cs441.collaborator.menus.bugreports"
                  label="Bugs Report"
                  mnemonic="B">
               <command
                     commandId="edu.bridgeport.cs441.collaborator.commands.bugsreport.BugsReporter"
                     id="edu.bridgeport.cs441.collaborator.menus.bugreports.BugsReporter"
                     label="Test Bugs Report"
                     mnemonic="B"
                     tooltip="Test the Bugs Report.">
               </command>
            </menu>
            
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="edu.bridgeport.cs441.collaborator.toolbars.developerManagerToolbar">
            <command
                  commandId="edu.bridgeport.cs441.collaborator.commands.collaborate.joinDiscussion"
                  icon="icons/joinDiscussion.gif"
                  tooltip="Join the discussion"
                  id="edu.bridgeport.cs441.collaborator.toolbars.collaborate.joinDiscussion">
            </command>
            <command
                  commandId="edu.bridgeport.cs441.collaborator.commands.collaborate.leaveDiscussion"
                  icon="icons/leaveDiscussion.gif"
                  tooltip="Leave the discussion"
                  id="edu.bridgeport.cs441.collaborator.toolbars.collaborate.leaveDiscussion">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
